.list {
  margin-bottom: 30px;

  &__add-button {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
    // span {
    //   color: #767676;
    // }
  }
  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-bottom: 5px;

    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
    &.active {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      background: #ffffff;
    }

    .badge {
      position: relative;
      left: 3px;
      top: 4px;
    }
  }

  i {
    margin-right: 7px;
    display: inline-flex;
  }
}
